<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="LanHistoryBootstrapper" 
          Version="0.5.0.0" 
          Manufacturer="Jump for Joy Software" 
          UpgradeCode="1db721ec-d675-4e60-a55b-d134497a5a35">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="$(var.LanHistorySetupUI.TargetDir)Olbert.LanHistorySetupUI.dll"/>
      <Payload SourceFile="$(var.LanHistorySetupUI.TargetDir)Olbert.LanHistorySetupUI.dll.config"/>
      <Payload SourceFile="$(var.LanHistorySetupUI.TargetDir)BootstrapperCore.config"/>

      <Payload SourceFile="$(var.WixUI.TargetDir)\BootstrapperCore.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\GalaSoft.MvvmLight.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\GalaSoft.MvvmLight.Extras.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\GalaSoft.MvvmLight.Extras.pdb" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\GalaSoft.MvvmLight.pdb" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\GalaSoft.MvvmLight.Platform.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\GalaSoft.MvvmLight.Platform.pdb" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Microsoft.Practices.ServiceLocation.pdb" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Olbert.j4j.UI.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Olbert.j4j.UI.pdb" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Olbert.Wix.MinimalUI.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Olbert.Wix.MinimalUI.dll.config" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Olbert.Wix.MinimalUI.pdb" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Olbert.Wpf.Converters.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Olbert.Wpf.Converters.pdb" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Serilog.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Serilog.Sinks.File.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Serilog.Sinks.RollingFile.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\System.Windows.Interactivity.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Xceed.Wpf.AvalonDock.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Xceed.Wpf.DataGrid.dll" />
      <Payload SourceFile="$(var.WixUI.TargetDir)\Xceed.Wpf.Toolkit.dll" />

    </BootstrapperApplicationRef>

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->

      <PackageGroupRef Id="NetFx462Web"/>
      <MsiPackage SourceFile="$(var.LanHistorySetup.TargetDir)LanHistorySetup.msi" />
		</Chain>
	</Bundle>
</Wix>
