<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define TgtFrameworkDir="\net462" ?>
  <?define J4JUIBinDir="c:\Programming\WpfUtilities\J4JUI\bin" ?>
  <?define WixBinDir="c:\Programming\Wix\WixUI\bin" ?>
  <?define WpfConvBinDir="c:\Programming\WpfUtilities\WpfConverters\bin" ?>

  <Bundle Name="LanHistory Manager" 
          Version="0.5.0.0" 
          Manufacturer="Jump for Joy Software" 
          UpgradeCode="1db721ec-d675-4e60-a55b-d134497a5a35">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="$(var.SetupUI.TargetDir)Olbert.LanHistorySetupUI.dll"/>
      <Payload SourceFile="$(var.SetupUI.TargetDir)Olbert.LanHistorySetupUI.dll.config"/>

      <Payload SourceFile="$(var.SetupUI.TargetDir)BootstrapperCore.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)BootstrapperCore.config"/>

      <Payload SourceFile="$(var.SetupUI.TargetDir)GalaSoft.MvvmLight.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)GalaSoft.MvvmLight.Extras.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)GalaSoft.MvvmLight.Platform.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Microsoft.Practices.ServiceLocation.dll" />

      <Payload SourceFile="$(var.SetupUI.TargetDir)Olbert.J4JResources.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Olbert.JumpForJoy.UI.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Olbert.JumpForJoy.Wpf.Converters.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Olbert.Wix.SimpleUI.dll" />

      <Payload SourceFile="$(var.SetupUI.TargetDir)Serilog.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Serilog.Sinks.File.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Serilog.Sinks.RollingFile.dll" />
      
      <Payload SourceFile="$(var.SetupUI.TargetDir)System.ValueTuple.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)System.Windows.Interactivity.dll" />
      
      <Payload SourceFile="$(var.SetupUI.TargetDir)Xceed.Wpf.AvalonDock.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Xceed.Wpf.DataGrid.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Xceed.Wpf.Toolkit.dll" />

      <?if $(var.Configuration) = Debug ?>
        <Payload SourceFile="$(var.J4JUIBinDir)\$(var.Configuration)$(var.TgtFrameworkDir)\Olbert.JumpForJoy.UI.pdb" />
        <Payload SourceFile="$(var.WixBinDir)\$(var.Configuration)$(var.TgtFrameworkDir)\Olbert.Wix.SimpleUI.pdb" />
        <Payload SourceFile="$(var.WpfConvBinDir)\$(var.Configuration)$(var.TgtFrameworkDir)\Olbert.JumpForJoy.Wpf.Converters.pdb" />
      <?endif?>

    </BootstrapperApplicationRef>

		<Chain>

      <PackageGroupRef Id="NetFx462Web" />
    
      <MsiPackage SourceFile="$(var.Setup.TargetDir)LanHistorySetup.msi" />

    </Chain>
	</Bundle>
</Wix>
